
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#logo {
    float: left;
    width: 90%;
}

img.col6 {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        border: 1px solid #999;
        background-color: rgba(0,0,0,0.3);
    }

img.col12 {
        width: 100%;
        position: relative;
        overflow: hidden;
        border: none;
        background-color: rgba(0,0,0,0.3);
    }

.column-6, .column-12 {
    float: left;
    width: 100%;
    padding: .5em 2%;
    break-after: both;

}

body    {
    font-family: 'Catamaran', sans-serif;
    margin: 5%;
    font-size: xx-large;
}

#content {
    background-color: mistyrose;
    padding: .5em 2%;
}

#cat_item {
    border: 2px solid #999999;
    background-color: #ffe0f0 
}


a {
    color: #fd6c9e; /*---French Pink---*/
}

#sold_out {
    color: #fd6c9e; /*---French Pink---*/
}

footer {
    clear: both;
    font-size: .7em;
    text-align: center;
    padding: .6em;
}

#spacer {
    background-color: #dea5a4; /*---Pastel Pink---*/
}

#in-progress {
    background-color: #fba0e3; /*---Lavender Rose---*/
}

.add-item a {
    color: maroon;
    text-decoration: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
}


input[type=button], input[type=submit], input[type=reset] {
    width: 33%;
    background-color: deeppink;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input:focus {
    background-color: #fc0fc0; /*---Shocking Pink---*/
  }

@media only screen and (min-width: 1200px) {
/*------------BANNER--------------*/


    .column-6 {
        float: left;
        width: 50%;
        break-after: none;
    }

    #cat_item {
        border: none;
        background-color: white;
    }

    #cat_break {
        background-color: darkgray;
    }

    #fair_pic {
        width: 40%;
        float: right;
        break-after: both;

    }
}

