{% extends "base.html" %}

{% block title %}Mme's Creations Categories{%  endblock %}

{% block content %}
    <h1>View by Category:</h1>

    {% if category_list %}

        <ul>

        {% for category in category_list %}
            <li><a href="{% url 'category' category.pk %}">
                {{ category.cat_name }}</a></li>
        {% endfor %}

        </ul>
    {%  else %}
        <p>No categories are currently in the database.</p>

    {% endif %}



{% endblock %}

{% block side-content %}
    <img class="col6" src="https://live.staticflickr.com/65535/50581066111_c6d0f5d183_b.jpg">
{% endblock %}