{% extends "base.html" %}

{% block title %}Mme's Creations: {{ category_name }} {%  endblock %}

{% block full-content %}
<h1>Category: {{ category_name }}</h1>

    {% if items %}

        {% for item in items %}
            <div id="cat_break" class="column-12"></div>
            {% if item.has_it_been_sold %}
            {% else %}
                <div class="column-12" id="cat_item">
                    <div class="column-6">
                    <a href="{% url 'craft_item_ship'  item.item_number %}">
                    <img class="col6" src="{{ item.photo_front }}" alt="{{ item.description }}">
                    </a>
                    </div>

                    <div class="column-6">
                    <h4>{{ item.description }}</h4>
                    <h4>Price: ${{ item.price|floatformat:2 }}</h4>
                    <h4>Item Number: {{ item.item_number }}</h4>
                    </div>
                </div>
            {% endif %}
            <br clear="both">


        {% endfor %}

    {%  else %}
        <h3>No {{ category_name.lower }} items are currently listed in the database.</h3>
    {% endif %}
{% endblock %}

