{% extends "base.html" %}

{% block title %}Mme's Creations: {{ category_name }} - {{ item.description }} {%  endblock %}

{% block full-content %}
<h1>{{ category_name }}:</h1>
<h2> {{ item.item_number }} - {{ item.description }}</h2>
{% endblock %}


{% block content %}
    {% if item.photo_front %}
    <img src="{{ item.photo_front }}" width="{{ item.photo_front_width }}" height="{{ item.photo_front_height }}"
    alt="{{ item.description }}">
    {% endif %}
    <br>

    {% if item.photo_back %}
    <img src="{{ item.photo_back }}" width="{{ item.photo_back_width }}" height="{{ item.photo_back_height }}"
    alt="{{ item.description }}">
    {% endif %}

    <h3>Price: ${{ item.price|floatformat:2 }}</h3>

    <ul>
        {% if item.width %}
        <li><h4>Width: {{ item.width }}"</h4></li>
        {% endif %}

        {% if item.height %}
        <li><h4>Height: {{ item.height }}"</h4></li>
        {% endif %}

        {% if item.depth %}
        <li><h4>Depth: {{ item.depth }}"</h4></li>
        {% endif %}

        {% if item.dress_size %}
        <li><h4>Dress Size: {{ item.dress_size }}"</h4></li>
        {% endif %}
    </ul>



{% endblock %}

{% block side-content %}
<h2>Purchase via PayPal below for shipping to a United States address</h2>
    <table>
        <tr>
            <td>Price:</td>
            <td>${{ item.price|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Shipping & Handling:</td>
            <td>${{ item.shipping|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Subtotal:</td>
            <td>${{ ship_price|floatformat:2 }}</td>
        </tr>
    </table>
    <br>

    <script src="https://www.paypal.com/sdk/js?client-id=AUmj7jR64NWeHuwoiF1CqTJ2pzQXRYTtLaaTaszvcCTuhsYZrrazqjKXHr_IP9l3tbvxHsdN7hd_uEr6"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
    </script>

    <div id="paypal-button-container"></div>

    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{ ship_price|floatformat:2 }}'
              },
              description: '{{ category_name }} - {{ item.description }} - {{ item.item_number }} - for shipping to U.S. address'
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>
{%  endblock %}