{% extends "base.html" %}

{% block moremeta %}
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
{% endblock %}

{% block title %}Mme's Creations: {{ category_name }} - {{ item.description }} {%  endblock %}

{% block content %}

<h1>{{ category_name }}: {{ item.item_number }} - {{ item.description }}</h1>

    {% if item.photo_front %}
    <img src="{{ item.photo_front }}" width="{{ item.photo_front_width }}" height="{{ item.photo_front_height }}"
    alt="{{ item.description }}">
    {% endif %}
    <br>

    {% if item.photo_back %}
    <img src="{{ item.photo_back }}" width="{{ item.photo_back_width }}" height="{{ item.photo_back_height }}"
    alt="{{ item.description }}">
    {% endif %}

    <h3>Price: ${{ item.price|floatformat:2 }}</h3>

    <ul>
        {% if item.width %}
        <li><h4>Width: {{ item.width }}"</h4></li>
        {% endif %}

        {% if item.height %}
        <li><h4>Height: {{ item.height }}"</h4></li>
        {% endif %}

        {% if item.depth %}
        <li><h4>Depth: {{ item.depth }}"</h4></li>
        {% endif %}

        {% if item.dress_size %}
        <li><h4>Dress Size: {{ item.dress_size }}"</h4></li>
        {% endif %}
    </ul>

    <h2>Purchase for In Person Events ONLY</h2>
    <table>
        <tr>
            <td>Price:</td>
            <td>${{ item.price|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>***In person purchase ONLY***</td>
            <td>FREE</td>
        </tr>
        <tr>
            <td>Subtotal:</td>
            <td>${{ item.price|floatformat:2 }}</td>
        </tr>
    </table>
    <br>
    <h3>To have it shipped for ${{ item.shipping|floatformat:2 }} more to a US address: <a href="{% url 'craft_item_ship' item.item_number %}">CLICK HERE</a></h3>

    <script src="https://www.paypal.com/sdk/js?client-id=Aae9cvv-osUTNKCa2L5sH_redeLOqdct6RB9u7nYivp2-jkfNmdTCQJM-WYxXcN6iZbRHancN5gwVyPl"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
    </script>

    <div id="paypal-button-container"></div>

    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{ item.price|floatformat:2 }}'
              },
              description: '{{ category_name }} - {{ item.description }} - {{ item.item_number }} - ***In person purchase ONLY***'
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>

{% endblock %}