{% extends "base.html" %}

{% block title %}Mme's Creations{% endblock %}

{% block full-content %}

    <div {% if fair_info.in_progress %}id="in-progress"{% endif %}>


        <img class="col6" id="fair_pic" src="{{ fair.photo_fair }}" width="{{ fair.photo_fair_width }}" height="{{ fair.photo_fair_height }}">

        <p>
        {% if fair_info.in_progress %} <b>We are at a Craft Fair Today - Come see us:</b> {% endif %}

        {% if not fair_info.in_progress %} <b>Come to our Next Craft Fair:</b> {% endif %}

            <a href="{{ fair.fair_url }}">{{ fair.fair_name }}</a></p>

        <ul>
        <li>{{ fair.first_start_time|date:"l"}}, {{ fair.first_start_time.date }}: {{ fair.first_start_time.time }} to {{ fair.first_end_time.time }} ET</li>

        {% if fair.second_start_time %}
            <li>{{ fair.second_start_time|date:"l"}}, {{ fair.second_start_time.date }}: {{ fair.second_start_time.time }} to {{ fair.second_end_time.time }} ET</li>
        {% endif %}

        {% if fair.third_start_time %}
            <li>{{ fair.third_start_time|date:"l"}}, {{ fair.third_start_time.date }}: {{ fair.third_start_time.time }} to {{ fair.third_end_time.time }} ET</li>
        {% endif %}
        </ul>

        <p><b>Location:</b> {{ fair.address }} {{ fair.city }}, {{ fair.state }}</p>

        <h3>See <a href="more_craft_fairs">More Craft Fairs</a></h3>


    </div>

{%  endblock %}

{% block content %}



    <div id="content">

    <h2>Shop by <a href="categories">Category</a> </h2>

    <h2>Shop by item number:</h2>

    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    </form>

    <h3>This site is only set for purchasing one item at a time.</h3>
    <p>If you are interesting in purchase more than one item,
        especially if you want items shipped together at a lower cost, please
        send a text message to 
        Marietta Harrold (765) 271-1083 for a quote on a bundle.</p>
    </div>

{% endblock %}

{% block side-content %}
    <img class="col6" src="https://live.staticflickr.com/65535/50581070236_8531d29f02_w.jpg">
{% endblock %}