{% extends "base.html" %}

{% block title %}Mme's Creations{%  endblock %}

{% block content %}

    <div id="content">

    <h1>Welcome to Mme's Creations</h1>

    <h2>Shop by <a href="categories">Category</a> </h2>

    <h2>Shop by item number:</h2>

    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    </form>

    <h3>This site is new and presently only set for purchasing one item at a time.</h3>
    <p>If you are interesting in purchase more than one item,
        especially if you want items shipped together at a lower cost, please call
        Marietta Harrold (765) 271-1083 for a quote on a bundle.</p>
    </div>

{% endblock %}

{% block side-content %}
    <img class="col6" src="https://live.staticflickr.com/65535/50580339268_d06e7ae544_b.jpg">
{% endblock %}