{% load static %}
{% load cache_bust %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mmestore/style.css' %}?{% cache_bust %}">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'mmestore/icon_pink.ico' %}"/>
  </head>
  <body>

    <div class="column-12">

        <a href="{% url 'index' %}"><img id="logo"
          src="https://live.staticflickr.com/65535/51774079185_a7a1fd6619_k.jpg"
             alt="Mme's Creations"></a>

    </div><!-- end of banner -->
    <div class="column-12">{% block full-content %}{% endblock %}</div>
    <div class="column-6">{% block content %}{% endblock %}</div>
    <div class="column-6">{% block side-content %}{% endblock %}</div>



  </body>

<footer>
    <hr>
    <p>Copyright &#169;2021 <a href="{% url 'index' %}">Mme's Creations LLC</a></p>
    <p>website maintained by <a href="https://www.jovian34.com">jovian34 LLC</a></p>
    <hr>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.first_name}}.
      You can <a href="{% url 'categories' %}">add items</a> 
      or <a href="{% url 'logout' %}">logout</a>.</p>
    {% else %}
    <p><a href="{% url 'login' %}">Staff login</a></p>
    {% endif %}
    
</footer>
</html>