{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mmestore/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'mmestore/icon.ico' %}"/>
  </head>
  <body>

    <div class="column-12">

        <a href="{% url 'index' %}"><img id="logo" src="{% static 'mmestore/mmelogo_text.png' %}"
             alt="Mme's Creations"></a>

    </div><!-- end of banner -->
    <div class="column-12"><br clear="both"></div>

    <div class="column-12">{% block full-content %}{% endblock %}</div>
    <div class="column-6">{% block content %}{% endblock %}</div>
    <div class="column-6">{% block side-content %}{% endblock %}</div>



  </body>

<footer>
    <hr>
    <p>Copyright &#169;2021 Mme's Creations LLC</p>
    <p>website maintained by <a href="https://www.jovian34.com">jovian34 LLC</a></p>
</footer>
</html>